h1 {
   text-align: center;
    font-size: 2.5rem;
    color: rgb(89, 89, 194);
}

body {
    text-align: center;
    background-color: rgb(205, 168, 124);
}

#scores {
    font-size: 30px;
}

#start-btn {
    text-align: center;
}

.timer {
    text-align: right;
}

#mtplChoice {
    margin: auto;
    padding-right: 75%;
    justify-content: left;
}

#choice1, #choice2, #choice3, #choice4 {

}

#quiz {
    margin: 50;

}